body{
    color: black;
    background-color: white;
}
.navi {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Momo Signature", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.title {
  padding: 0; 
}

.title h1 {
  transition: color 1s ease;
}

.title h1:hover {
  color: red;
  cursor: pointer;
}
