.platforms {
    display: grid;
    grid-template-columns: repeat(5, 200px); 
    gap: 100px;
    justify-content: center;  
    align-items: center;       
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.platforms span{
    font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}
img{
    border-radius: 50px;
    transition: width 1s;
}

img:hover{
    cursor: pointer;
    width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}