.platforms {
    display: grid;
    grid-template-columns: repeat(5, 200px); 
    gap: 100px;
    justify-content: center;  
    align-items: center;       
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img{
    border-radius: 50px;
    transition: width 1s;
}

img:hover{
    cursor: pointer;
    width: 250px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
}