.popover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    z-index: 1000;
}

.pop {
    font-family: "Belleza", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 700px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    z-index: 1001;
    border: solid rgb(0, 0, 0) 5px;
}
.pop button{
    font-size: 20px;
}
